body {
    overflow: auto;
}

.history-container {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.search-bar {
    display: flex;
    margin-bottom: 1.5rem;
    align-self: center;
    width: 33%;
}

#search-form {
    display: flex;
    width: 100%;
}

.search-bar input[type="search"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.history {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 100%;
    height: fit-content;
}

.top-row {
    height: 30px;
    display: flex;
    font-weight: bold;
    width: 100%;
    background-color: #2c3e50;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.head-label {
    width: 16%;
    margin-top: 5px;
}

.subject-head {
    margin-left: 10px;
}

.keyword-head {
    width: 20%;
}

.delete-head {
    width: 10%;
}

.history-results {
    display: flex;
    flex-direction: column;
    max-height: 95%;
    overflow-y: auto;
}

.search-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 175px;
    overflow: hidden;
}

.history-item {
    width: 16%;
    height: 150px;
    margin-top: 10px;
}

.subject-item {
    margin-left: 10px;
}

.user-msg-head {
    width: 20%;
}

.msg-item {
    width: 20%;
    overflow: auto;
}

.no-history-msg {
    margin-block: 10%;
    font-size: 1.2rem;
    font-weight: bold;
    color: #777;
    text-align: center;
}

.history-message {
    margin-bottom: 10px;
    overflow-y: auto;
    word-wrap: break-word;
}

.keyword-item {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    height: fit-content;
    margin-left: 15px;
    width: 20%;
}

.keyword {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    font-size: 0.85rem;
    cursor: pointer;
    max-height: 1.75rem;
}

.delete-keyword-button {
    height: 80%;
    width: .85rem;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    font-size: 0.8rem;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s ease-in-out;
}

.delete-keyword-button:hover {
    background-color: #215c83;
}

.category-item {
    font-weight: bold;
    cursor: pointer;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #c24d40;
    color: #fff;
    font-size: 0.8rem;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s ease-in-out;
}

.delete-button:hover {
    background-color: #c0392b;
}

.delete-item {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    width: 10%;
}

.search-history {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-top: 2px solid #e0e0e0;
    padding-top: 20px;
}

.search-history h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.search-history-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.search-history-item {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.3s;
}

.search-history-item:hover {
    background-color: #f5f5f5;
}

.search-text {
    font-weight: bold;
    flex: 1;
}

.search-date {
    color: #777;
    font-size: 0.9em;
    margin-left: 2rem;
}