.history-container {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.search-bar {
    display: flex;
    margin-bottom: 1.5rem;
    align-self: center;
}

#search-form {
    display: flex;
    width: 100%;
}

.search-bar input[type="search"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.history {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 100%;
    height: fit-content;
}

.top-row {
    height: 5%;
    min-height: 30px;
    display: flex;
    font-weight: bold;
    width: 100%;
    background-color: #2c3e50;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.head-label {
    width: 25%;
    padding: 0.5rem 0.5rem;
}

.history-results {
    display: flex;
    flex-direction: column;
    height: 95%;
    overflow-y: scroll;
}

.search-row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
    width: 100%;
    max-height: 175px;
    overflow: hidden;
}

.history-item {
    margin-block: 10px;
    width: 21%;
    margin-inline: 2%;
}

.no-history-msg {
    margin-block: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #777;
    text-align: center;
}

.keyword-item {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.keyword-item li {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
}