body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
}

.basic-info {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.section {
    width: calc(50% - 10px); /* Subtract 10px for the gap between two sections */
    padding: 20px;
    border-radius: 5px;
}

.basic-info h2,
.section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
