.insight-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.basic-info {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.insight-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    width: 100%;
}

.section {
    width: calc(50% - 10px); 
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.section div {
    display: flex;
    flex-direction: column;
}
