.question-container {
    display: none;
}

#questionnaire-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-block: 20px;
    border-radius: 10px;
}

h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 66%;
    margin-bottom: 20px;
}

.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-block: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    width: 50%;
    height: fit-content;
}

.active-section {
    font-weight: bold;
}

.section-head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
    outline: none;
}

/* Progress bar */
.progress-container {
    width: 85%;
    height: 10px;
    border-radius: 5px;
    background-color: #ccc;
    margin-bottom: 20px;
}

#progress-bar {
    width: 0%;
    height: 100%;
    border-radius: 5px;
    background-color: #3498db;
    transition: width 0.3s ease-in-out;
}

/* Next button */
#next-button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#next-button:hover {
    background-color: #2980b9;
}

#submit-button {
    display: none;
}

#submit-button, #next-button {    
    background-color: #2c3e50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#submit-button:hover {
    background-color: #243442;
}
  
#submit-button.show {
    display: block;
    margin: 20px auto 0;
}

#insights-loading-container {
    position: absolute;
    top: 20%;
    background-color: white;
    border-radius: 5%;
    width: 250px;
    height: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.loader-text {
    font-weight: bold;
    margin-block: 20px;
}

#insights-loading-container > .loader {
    position: relative;
    top: -50px;
    left: 0;
    border: 15px solid #a4a4a4;
    border-top: 15px solid #3498db;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    animation: spin 2s linear infinite;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}