/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove default style of button */
button{
    background: transparent;
    border: none;
}

button:focus{
    outline: none;
    border: none;
}

/* Body styles */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #2c3e50;
    color: white;
    height: 7vh;
    width: 100%;
}

header h1 {
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    margin-right: 20px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list-item {
    margin-left: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.selected {
    color: #3caef9;
}

/* Main styles */
main {
    display: flex;
    align-items: flex-start;
    margin-top: 25px;
    width: 75%;
    height: 90vh;
}

.sidebar {
    flex: 1;
    width: 33%;
    max-width: 250px;
    height: 100%;
    margin-right: 5%;
    z-index: 3; 
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    max-height: 250px;
    font-size: 5em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 10px;
}

.history-section {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
}

.history-section h3 {
    margin-bottom: 10px;
    text-align: center;
}

.no-history-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.history-item p {
    margin-bottom: 5px;
}

.primary-container {
    flex: 2;
    max-width: 65%;
    height: 100%;
}

.chat-input-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
}

#chat-form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.chat-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    width: 75%;
    outline: none;
}

.button-container {
    width: 10%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

#submitButton, #recordButton {
    font-size: .85em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-weight: bold;
    margin-right: 5px;
    box-shadow: #171717 0 0 5px;
}

#submitButton {
    background-color: #3498db;
    cursor: pointer;
    margin-bottom: 5px;
}

#submitButton:hover {
    background-color: #2980b9;
}

#recordButton {
    background-color: #3e8e41;
}

#recordButton:hover {
    background-color: #af4c4c;
}

.chat-section {
    height: 80%;
    padding: 15px 0 15px 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chat-section::before {
    content: '';
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    height: 10%;
    pointer-events: none; 
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #ffffff 50%, #f7f7f7 100%);
    z-index: 2; 
}

.chat-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.chat-window {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.chat-message {
    display: flex;
    align-items: flex-start;
    max-width: 85%;
}

.user {
    align-self: flex-start;
    margin-bottom: 5px;
}

.assist {
    align-self: flex-end;
}

.user-message, .assistant-message {
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: white;
}

.user-message {
    background-color: #3e8e41;
}

.assistant-message {
    background-color: #3498db;
}

.assistant-ordered-list {
    margin-left: 15px;
    list-style: none;
}

.assistant-list-item {
    margin-bottom: 7px;
}

.assistant-list-item > a {
    font-weight: bold;
}

.copy {
    height: 17px;
    width: 17px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    display: inline;
    transition: background-color 0.3s ease-in-out;
}

.copy:hover {
    background-color: #b2defb;
}

.user-message > span, .assistant-message > span {
    font-weight: bold;
    margin-right: 3px;
}

.copy-feedback {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 12px;
    color: #333;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.visible {
    opacity: 1;
}

.avi-container {
    max-height: 40px;
    max-width: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    padding: 5px;
}

.user > .avi-container {
    background-color: #3e8e41;
}

.assist > .avi-container {
    background-color: #3498db;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.user-info > p {
    font-weight: bold;
    color: #1f6694;
}

.history-list {
    list-style-type: none;
}

.transcript-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 5px;
    background: rgb(205, 205, 205);
    color: black;
    padding: 5px;
    font-size: 0.85em;
}

.transcript-item a {
    color: black;
    text-decoration: none;
    max-width: 75%;
    margin-left: 5px;
}

.transcript-item a:hover {
    font-weight: bold;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 23px;
    background-color: #c24d40; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
    transition: background-color 0.3s ease-in-out;
}

.delete-button:hover {
    background-color: #c0392b;
}

.message-loading {
    opacity: 0.25;
    z-index: 1;
}

.loader {
    position: absolute;
    top: 50%;
    left: 51%;
    border: 10px solid #a4a4a4;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: spin 2s linear infinite;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.assistant-code {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #000;
    padding-bottom: 10px;
    margin: 10px 0;
}

.assistant-code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5px;
    padding-block: 7px;
    background: rgb(218,215,215);
    background: linear-gradient(180deg, rgba(218,215,215,1) 0%, rgba(193,191,191,1) 100%);
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #030303;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 5px;
}

.assistant-code-header-minimize {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 7px;
    background: rgb(253, 251, 251);
    background: linear-gradient(180deg, rgba(218,215,215,1) 0%, rgba(193,191,191,1) 100%);
    border-radius: 5px;
    border: 1px solid #1a1a1a;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 2px;
    cursor: pointer;
}

.assistant-code-minimized {
    height: 1.75em;
    border-radius: 5px;
}

.assistant-code-minimized .assistant-code-header-text {
    margin-bottom: 15px;
}

.assistant-code-minimized > .assistant-code-header {
    border-radius: 5px;
    height: 2.25em;
}

.assistant-code button.code-toggle {
    margin-top: 10px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.main-button-container {
    display: flex;
    width: 100%;
    padding: 15px;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border-radius: 5px;
}

.main-button {
    width:31%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    font-size: .9em;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal {
    z-index: 5;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 75vh;
    width: 75vw;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.notes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.notes-search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: 30px;
}

#notesSearchInput {
    padding: 5px;
    border: none;
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 1em;
    color: #333;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#notesSearchBtn {
    background-color: #3498db;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#notesModal h2 {
    margin-bottom: 10px;
}

.note-head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.note-date {
    font-size: 0.9em;
    margin-block: 10px;
}

.notes-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    overflow: auto;
    height: 90%;
}

.note-item {
    width: 23%;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    overflow: auto;
    margin-bottom: 15px;
}

.note-tags {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-bottom: 10px;
}

.note-tag {
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: #3498db;
    color: white;
    font-size: 0.9em;
}

.note-id {
    display: none;
}

.delete-note {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 23px;
    background-color: #c24d40; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
    transition: background-color 0.3s ease-in-out;
}

.no-notes {
    font-weight: bold;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


