/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c3e50;
    color: white;
    height: 60px;
    width: 100%;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
}

/* Main styles */
main {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    width: 75%;
}

.sidebar {
    flex: 1;
    width: 33%;
    max-width: 250px;
    margin: 0 10px;
    height: 100vh;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    max-height: 250px;
    font-size: 5em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 25px;
}

.history-section {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.history-section p {
    text-align: center;
}

.history-section table {
    border-collapse: collapse;
    width: 100%;
}

.history-section th {
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.history-section td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.primary-container {
    flex: 2;
    width: 55%;
    height: 100vh;
}

.chat-input-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
}

#chat-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

main section input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    width: 73%;
}

.button-container {
    display: flex;
    margin-left: 5px;
}

main section button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-weight: bold;
    margin-right: 5px;
}

main section button[type="submit"]:hover {
    background-color: #2980b9;
}
  
#recordButton {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #3e8e41;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#recordButton:hover {
    background-color: #af4c4c;
}

.chat-section {
    margin-top: 30px;
}

.chat-container {
    display: flex;
    flex-direction: column;
}

.chat-window {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.chat-window p {
    max-width: 85%;;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: white;
}

.user-message {
    align-self: flex-start;
    background-color: #3e8e41;
    margin-bottom: 5px;
}

.assistant-message {
    align-self: flex-end;
    background-color: #3498db;
}

.copy {
    height: 1em;
    width: 1em;
    border-radius: 45px;
    background-color: white;
    color: #3498db;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.user-message > span, .assistant-message > span {
    font-weight: bold;
}
