.dark {
    background-color: #1d1d1d !important;
    color: #fff !important;
}

.dark-accent {
    background-color: #292828 !important;
    color: #4f75ff !important;
}

.dark-accent::before {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #292828 50%, #1d1d1d 100%);
}