<!DOCTYPE html>
<html lang="en">
<head>
    <title>History</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/history.css">
    <link rel="stylesheet" type="text/css" href="/static/css/themes.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="{{ user.theme_pref }}">
    <header class="{{ user.theme_pref + '-accent'}}">
        <h1>History</h1>
		<nav class="nav-bar">
			<ul class="nav-list">
				<li class="nav-list-item">
					<a class="nav-link" href="/clear_chat">Home</a>
				</li>
				<li class="nav-list-item">
					<a class="nav-link" href="/preferences">Preferences</a>
				</li>
				<li class="nav-list-item">
					<a class="nav-link selected" href="/history">History</a>
				</li>
				<li class="nav-list-item">
					<a class="nav-link" href="/insights">Insights</a>
				</li>
			</ul>
		</nav>
    </header>
    <main class="history-container">
        <section class="search-bar">
            <form id="search-form">
                <input type="search" id="search" name="search" placeholder="Search history">
                <button type="submit">Search</button>
            </form>
        </section>

        {% if history %}
            <section class="{{ 'history ' + user.theme_pref + '-accent'}}">
                <div class="top-row">
                    <div class="head-label subject-head">Subject</div>
                    <div class="head-label date-head">Date</div>
                    <div class="head-label category-head">Category</div>
                    <div class="head-label user-msg-head">Messages</div>
                    <div class="head-label keyword-head">Keywords</div>
                    <div class="head-label delete-head"></div>
                </div>

                <div class="history-results">
                {% for transcript in history %}
                    <div class="search-row">
                        <div class="history-item subject-item">
                            <a href="{{ url_for('subject', subject=transcript[1]) }}">{{ transcript[1] }}</a>
                        </div>
                        <div class="history-item date-item" data-date="{{ transcript[6] }}"></div>

                        <div class="history-item category-item">{{ transcript[4] }}</div>

                        <div class="history-item msg-item compact">
                            {% if transcript[2][0] is mapping %}
                                {% for message in transcript[2] %}
                                    <div class="history-message">
                                        {% if message.role == 'user' %}
                                            {{ user.name }}
                                        {% else %}
                                            {{ user.system_name }}
                                        {% endif %}: {{ message.content }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="history-message">
                                    {{ user.name }}: {{ transcript[2].user_message }}
                                </div>
                                <div class="history-message">
                                    {{ user.system_name }}: {{ transcript[2].assistant_message }}
                                </div>
                            {% endif %}
                        </div>
                        <ul class="history-item keyword-item">
                            {% for keyword in transcript[3] %}
                                <li class="keyword">
                                    <div class="keyword-label">{{ keyword }}</div>
                                    <form action="/delete_keyword" method="post">
                                        <input type="hidden" name="subject" value="{{ transcript[1] }}">
                                        <input type="hidden" name="keyword" value="{{ keyword }}">
                                        <button type="submit" class="delete-keyword-button">x</button>
                                    </form>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="history-item delete-item">
                            <form action="{{ url_for('delete_transcript') }}" method="post">
                                <input type="hidden" name="subject" value="{{ transcript[1] }}">
                                <button type="submit" class="delete-button">x</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </section>
            {% else %}
            <section class="{{ 'history ' + user.theme_pref + '-accent'}}">
                <p class="no-history-msg">No History Found</p>
            </section>
        {% endif %}
    </main>
    <script src="/static/js/search.js"></script>
</body>
</html>
