<!DOCTYPE html>
<html lang="en">
<head>
    <title>History</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/history.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <h1>History</h1>
        <nav class="nav-bar">
            <ul class="nav-list">
                <li class="nav-list-item">
                    <a class="nav-link selected" href="/">Home</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-link" href="/preferences">Preferences</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-link" href="/history">History</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="history-container">
        <section class="search-bar">
            <form id="search-form">
                <input type="search" id="search" name="search" placeholder="Search history">
                <button type="submit">Search</button>
            </form>
        </section>

        {% if history %}
            <section class="history-section">
                <h3>History</h3>
                <table>
                <tr>
                    <th>Date</th>
                    <th>User Message</th>
                    <th>Assistant Message</th>
                    <th>Keywords</th>
                </tr>
                {% set current_date = '' %}
                {% for transcript in history %}
                    {% if transcript[3] != current_date %}
                    {% if loop.index > 1 %}
                        </td></tr>
                    {% endif %}
                    <tr>
                        <td>{{ transcript[3] }}</td>
                        <td>{{ transcript[1] }}</td>
                        <td>{{ transcript[2] }}</td>
                        <td>{{ transcript[4] }}</td>
                        {% set current_date = transcript[3] %}
                    {% else %}
                    <br>{{ transcript[1] }}<br>{{ transcript[2] }}
                    {% endif %}
                {% endfor %}
                </td></tr>
                </table>
            </section>
            {% else %}
            <section class="history-section">
                <p>No History Found</p>
            </section>
        {% endif %}
    </main>
    <script src="/static/js/search.js"></script>
</body>
</html>