<!DOCTYPE html>
<html lang="en">
<head>
	<title>Assistant</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header>
		<h1>Assistant</h1>
		<nav class="nav-bar">
			<ul class="nav-list">
				<li class="nav-list-item">
					<a class="nav-link selected" href="/">Home</a>
				</li>
				<li class="nav-list-item">
					<a class="nav-link" href="/preferences">Preferences</a>
				</li>
			</ul>
		</nav>
	</header>

	<main>
		<div class="sidebar">
			<section class="display">
				{% if display %}
					{{ display }}
				{% else %}
					😀
				{% endif %}
			</section>
			{% if user %}
				<div class="user-info">
					<p>Welcome {{ user.name }}!</p>
				</div>
			{% endif %}
			{% if history %}
			  <section class="history-section">
				<h3>History</h3>
				<table>
				  <tr>
					<th>Date</th>
					<th>User Message</th>
					<th>Assistant Message</th>
				  </tr>
				  {% set current_date = '' %}
				  {% for transcript in history %}
					{% if transcript[3] != current_date %}
					  {% if loop.index > 1 %}
						</td></tr>
					  {% endif %}
					  <tr>
						<td>{{ transcript[3] }}</td>
						<td>{{ transcript[1] }}</td>
						<td>{{ transcript[2] }}</td>
						{% set current_date = transcript[3] %}
					{% else %}
					  <br>{{ transcript[1] }}<br>{{ transcript[2] }}
					{% endif %}
				  {% endfor %}
				  </td></tr>
				</table>
			  </section>
			{% else %}
			  <section class="history-section">
				<p>No History Found</p>
			  </section>
			{% endif %}
		</div>

		<div class="primary-container">
			<section class="chat-section">
				{% if chat_transcript %}
				<div class="chat-container">
					{% for exchange in chat_transcript %}
						<div class="chat-window" id="chat-window-{{ loop.index }}">
							{% if exchange.user_message %}
								<div class="chat-message user">
									<div class="avi-container">
										<img class="user-avi" src="/static/assets/icons/user.svg" alt="user avatar">
									</div>
									<p class="user-message">
										<span>user:</span>{{ exchange.user_message }}
									</p>
								</div>
							{% endif %}
							{% if exchange.assistant_message %}
								<div class="chat-message assist">
									<div class="avi-container">
										<img class="user-avi" src="/static/assets/icons/assist.svg" alt="assistant avatar">
									</div>
									<p class="assistant-message">
										<span>assistant:</span>{{ exchange.assistant_message }}
										<button class="copy" onclick="copyText(this)">
											<img class="copy-icon" src="/static/assets/icons/content_copy.svg" alt="copy icon">
										</button>
										<span class="copy-feedback">Message copied</span>
									</p>
								</div>
							{% endif %}
						</div>
					{% endfor %}
				</div>
				{% endif %}
			</section>
			
			<section class="chat-input-section">
				<form id="chat-form" method="post" enctype="multipart/form-data">
					<textarea class="chat-input" cols="30" rows="3" type="text" id="text" name="text" placeholder="Enter your message..."></textarea>	
					<div class="button-container">
						<button id="submitButton" type="submit">Submit</button>
						<button id="recordButton">Record</button>
					</div>
				</form>
			</section>
		</div>
	</main>
	  
	<script src="/static/js/recorder.js"></script>
	<script src="/static/js/copyPaste.js"></script>
	<script src="/static/js/scrollToBottom.js"></script>
</body>
</html>
