<!DOCTYPE html>
<html lang="en">
<head>
    <title>Insights for {{user.name}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/insights.css">
	<link rel="stylesheet" type="text/css" href="/static/css/themes.css">
</head>
<body class="insights {{ user.theme_pref }}">
	<header class="{{ user.theme_pref + '-accent' }}">
		<h1>{{ user.system_name }}</h1>
		<nav class="nav-bar">
			<ul class="nav-list">
				<li class="nav-list-item">
					<a class="nav-link" href="/clear_chat">Home</a>
				</li>
				<li class="nav-list-item">
					<a class="nav-link" href="/preferences">Preferences</a>
				</li>
				<li class="nav-list-item">
					<a class="nav-link" href="/history">History</a>
				</li>
				<li class="nav-list-item selected">
					<a class="nav-link" href="/insights">Insights</a>
				</li>
			</ul>
		</nav>
	</header>

    <main class="{{ user.theme_pref + '-accent' }}">
        <h2>Insights</h2>

        <div class="insight-container">
            <div class="basic-info  {{ user.theme_pref }}">
                <h2>Basic Information</h2>
                <div class="summary">
                    {{insights.basic.summary}}
                </div>
                <div class="dropdown">
                    <button class="dropdown-button {{ user.theme_pref + '-accent' }}">Show/Hide Responses</button>
                    <ul class="response-container dropdown-content {{ user.theme_pref + '-accent' }}">
                        {% for insight in insights.basic.data %}
                            <li class="responses">
                                <p>Question: {{insight.question}}</p>
                                <p>Response: {{insight.response}}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="insight-sections">
                <div class="section {{ user.theme_pref }}">
                    <h2>Health Insights</h2>
                    <div class="summary">
                        {{insights.health.summary}}
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-button {{ user.theme_pref + '-accent' }}">Show/Hide Responses</button>
                        <ul class="response-container dropdown-content {{ user.theme_pref + '-accent' }}"> 
                            {% for insight in insights.health.data %}
                                <li class="responses">
                                    <p>Question: {{insight.question}}</p>
                                    <p>Response: {{insight.response}}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
        
                <div class="section {{ user.theme_pref }}">
                    <h2>Family Insights</h2>
                    <div class="summary">
                        {{insights.fam.summary}}
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-button {{ user.theme_pref + '-accent' }}">Show/Hide Responses</button>
                        <ul class="response-container dropdown-content {{ user.theme_pref + '-accent' }}"> 
                            {% for insight in insights.fam.data %}
                                <li class="responses">
                                    <p>Question: {{insight.question}}</p>
                                    <p>Response: {{insight.response}}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
        
                <div class="section {{ user.theme_pref }}">
                    <h2>Work Insights</h2>
                    <div class="summary">
                        {{insights.work.summary}}
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-button {{ user.theme_pref + '-accent' }}">Show/Hide Responses</button>
                        <ul class="response-container dropdown-content {{ user.theme_pref + '-accent' }}"> 
                            {% for insight in insights.work.data %}
                                <li class="responses">
                                    <p>Question: {{insight.question}}</p>
                                    <p>Response: {{insight.response}}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
        
                <div class="section {{ user.theme_pref }}">
                    <h2>Personality Quiz Results</h2>
                    <div class="summary">
                        {{insights.big5.summary}}
                    </div>
                    <div class="big5-results">
                        {% for result in insights.big5.results %}
                            <p>{{result}}: {{insights.big5.results[result]}}</p>
                        {% endfor %}
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-button {{ user.theme_pref + '-accent' }}">Show/Hide Responses</button>
                        <ul class="response-container dropdown-content {{ user.theme_pref + '-accent' }}">
                            {% for insight in insights.big5.data %}
                                <li class="responses">
                                    <p>Question: {{insight.question}}</p>
                                    <p>Response: {{insight.response}}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/static/js/insightsDropdown.js"></script>
</body>
</html>
