<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Preferences</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/preferences.css">
    <link rel="stylesheet" type="text/css" href="/static/css/themes.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <p>{{ message }}</p>
                    <div class="close-button">x</div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="overlay"></div>
    <header>
        <h1>User Preferences</h1>
		<nav class="nav-bar">
			<ul class="nav-list">
				<li class="nav-list-item">
					<a class="nav-link" href="/clear_chat">Home</a>
				</li>
				<li class="nav-list-item">
					<a class="nav-link selected" href="/preferences">Preferences</a>
				</li>
				<li class="nav-list-item">
					<a class="nav-link" href="/history">History</a>
				</li>
				<li class="nav-list-item">
					<a class="nav-link" href="/insights">Insights</a>
				</li>
			</ul>
		</nav>
    </header>

    <main class="preferences-container">
        {% if user %}
            <form class="user-preferences-form" action="/preferences" method="POST">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" value="{{ user.name }}">

                <label for="assistant_name">System name:</label>
                <input type="text" name="system_name" id="system_name" value="{{ user.system_name }}">

                <label for="model">Model:</label>
                <select name="model" id="model">
                    {% for model_option in model_options %}
                        <option value="{{ model_option }}" {% if model_option == user.model %}selected{% endif %}>{{ model_option }}</option>
                    {% endfor %}
                </select>
                <label for="personality">Personality:</label>
                <select name="personality" id="personality">
                    {% for key, value in personality_options.items() %}
                        <option value="{{ key }}" {% if key == user.personality %}selected{% endif %}>{{ key }}</option>
                    {% endfor %}
                </select>
                <label for="theme_pref">Theme:</label>
                <select name="theme_pref" id="theme_pref">
                    {% for theme_option in theme_options %}
                        <option value="{{ theme_option }}" {% if theme_option == user.theme_pref %}selected{% endif %}>{{ theme_option }}</option>
                    {% endfor %}
                </select>
                <hr class="preferences-rule">
                <div class="cmd-options-container">
                    <label for="voice_command">
                        Voice Command:
                        <input type="checkbox" name="voice_command" id="voice_command" {% if user.voice_command %}checked{% endif %}>
                    </label>
    
                    <label for="voice_response">
                        Voice Response:
                        <input type="checkbox" name="voice_response" id="voice_response" {% if user.voice_response %}checked{% endif %}>
                    </label>

                    <label for="auto_prompt">
                        Auto Prompt:
                        <input type="checkbox" name="auto_prompt" id="auto_prompt" {% if user.auto_prompt %}checked{% endif %}>
                    </label>
                </div>
                <hr class="preferences-rule">

                <input type="submit" value="Save Preferences">
            </form>

            <form class="delete-user-form" action="/" method="DELETE">
                <input type="hidden" name="user_id" value="{{ user.user_id }}">
                <button class="delete-user-button" type="button">Delete User Data</button>
            </form>
        {% else %}
            <p>No user found. Please create a user first.</p>
        {% endif %}
    </main>

    <div class="delete-modal">
        <p>Are you sure you want to delete your user data? This cannot be reversed.</p>
        <div class="delete-modal-buttons">
            <button class="cancel-button" type="button">Cancel</button>
            <button class="confirm-delete-button" type="button">Delete</button>
        </div>
    </div>
    
    <script src="/static/js/preferences.js"></script>
</body>
