<!DOCTYPE html>
<html lang="en">
<head>
    <title>Questionnaire</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/questionnaire.css
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <h1>Questionnaire</h1>
		<nav class="nav-bar">
			<ul class="nav-list">
				<li class="nav-list-item">
					<a class="nav-link selected" href="/">Home</a>
				</li>
				<li class="nav-list-item">
					<a class="nav-link" href="/preferences">Preferences</a>
				</li>
				<li class="nav-list-item">
					<a class="nav-link" href="/history">History</a>
				</li>
				<li class="nav-list-item">
					<a class="nav-link" href="/insights">Insights</a>
				</li>
			</ul>
		</nav>
    </header>

    <main>
        
        <form method="post" action="{{ url_for('questionnaire') }}">
            <h2>In order to proceed with user insights, the system requires some data from you.</h2>
            {% for section, section_questions in questions.items() %}
                <h3>{{ section.capitalize() }}</h2>
                {% for question in section_questions %}
                    <label for="{{ question.id }}">{{ question.text }}</label>
                    <input type="text" id="{{ question.id }}" name="{{ section }}-{{ loop.index0 }}">
                {% endfor %}
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>