<!DOCTYPE html>
<html lang="en">
<head>
    <title>Questionnaire</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/questionnaire.css">
    <link rel="stylesheet" type="text/css" href="/static/css/themes.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="{{ user.theme_pref }}">
    <div class="overlay" style="display:none;"></div>

    <div class="loading-container {{ user.theme_pref + '-accent' }}" id="insights-loading-container" style="display:none;">
        <div class="loader-text">This might take a while.</div>
        <div class="loader"></div>
    </div>
    <header class="{{ user.theme_pref + '-accent' }}">
        <h1>Questionnaire</h1>
		<nav class="nav-bar">
			<ul class="nav-list">
				<li class="nav-list-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-list-item">
					<a class="nav-link" href="/preferences">Preferences</a>
				</li>
				<li class="nav-list-item">
					<a class="nav-link" href="/history">History</a>
				</li>
				<li class="nav-list-item">
					<a class="nav-link selected" href="/insights">Insights</a>
				</li>
			</ul>
		</nav>
    </header>

    <main>
        <form id="questionnaire-form" class="{{ user.theme_pref }}-accent" action="/questionnaire" method="POST">
            <input type="hidden" id="questions-data" value="{{ json.dumps(questions) }}">

            <div class="section-head-container">
                {% for section, section_questions in questions.items() %}
                    {% if loop.first %}
                        <h3>{{ section.capitalize() }}</h3>
                    {% else %}
                        <span class="section-divider">></span><h3>{{ section.capitalize() }}</h3>
                    {% endif %}
                {% endfor %}
            </div>
            
            {% set ns = namespace(global_question_index=1) %}
            {% for section, section_questions in questions.items() %}
                <div class="section-container" id="{{ section }}-section" style="{{ 'display: none;' if loop.index0 != currentSectionIndex else '' }}">
                    {% for question in section_questions %}
                        <div class="{{ 'question-container ' + user.theme_pref }}" id="{{ question.id }}" style="{{ 'display: none;' if loop.index0 != currentQuestionIndex else '' }}">
                            <label for="{{ question.id }}">{{ question.text }}</label>
                            {% if question.type == "text" %} 
                                <input class="{{ user.theme_pref }}" type="text" id="{{ question.id }}" name="{{ question.id }}">
                            {% elif question.type == "number" %}
                                <input class="{{ user.theme_pref }}" type="number" id="{{ question.id }}" name="{{ question.id }}" required>
                            {% elif question.type == "select" %}
                                <select class="{{ user.theme_pref }}" id="{{ question.id }}" name="{{ question.id }}">
                                    {% for option in question.options %}
                                        <option value="{{ option }}">{{ option }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="questionnaire-explainer">
                        <img class="questionnaire-graphic" src="https://picsum.photos/300" alt="placeholder graphic">
                        <p></p>
                    </div>
                </div>
            {% endfor %}
            <input type="hidden" id="questionProg" value="{{ ns.global_question_index - 1 }}">
            
            <div class="progress-container">
                <div id="progress-bar"></div>
            </div>
            <button type="button" id="next-button">Next</button>
            
            <button type="button" id="submit-button">Submit</button>
        </form>
    </main>

    <script src="/static/js/questionnaire.js"></script>
</body>
</html>